asgiref==3.3.1
asn1crypto==0.24.0
certifi==2018.8.24
chardet==3.0.4
click==7.1.2
cryptography==2.6.1
Django==3.1.7
entrypoints==0.3
ffmpeg-python==0.2.0
Flask==1.1.2
Flask-Cors==3.0.10
future==0.18.2
idna==2.6
image==1.5.33
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.1
Pillow==8.1.1
pipenv==11.9.0
pycrypto==2.6.1
PyGObject==3.30.4
python-apt==1.8.4.3
pytz==2021.1
pyxdg==0.25
requests==2.21.0
rpi==0.0.1
RPi.GPIO==0.7.0
SecretStorage==2.3.1
six==1.12.0
spidev==3.5
sqlparse==0.4.1
ssh-import-id==5.7
urllib3==1.24.1
virtualenv==15.1.0
virtualenv-clone==0.3.0
waveshare-epd==0.0.0
Werkzeug==1.0.1
